<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Showcase of goods</title>
</head>

<body>
    <a th:href="@{/login}" style="float:right;" sec:authorize="isAnonymous()">
        <b>LOGIN &cudarrr;</b>
    </a>
    <a th:href="@{/logout}" style="float:right;" sec:authorize="isAuthenticated()">
        <b>LOGOUT &cudarrr;</b>
    </a>
    <a href="/orders" style="float:right;" sec:authorize="isAuthenticated()">
        <b>ORDERS &cudarrr;</b>
    </a>
    <a href="/cart/items" style="float:right;" sec:authorize="isAuthenticated()">
        <b>CART &cudarrr;</b>
    </a>
    <a href="/" style="float:right;">
        <b>MAIN &cudarrr;</b>
    </a>
    <div style="width:70%;margin-left:auto;margin-right:auto;">
        <p>
            <img width="300" height="300" th:src="${'http://localhost:8080/'+item.getImgPath()}" alt="No image">
        </p>
        <p>
            <b th:text="${item.getTitle()}"></b>
            <b th:text="${item.getPrice()}+' rub.'" style="text-align:right;"></b>
        </p>
        <p>
            <span th:text="${item.getDescription()}"></span>
        </p>
        <form sec:authorize="isAuthenticated()" th:action="${'/items/'+item.getId()}" method="post">
            <button name="action" value="minus">-</button>
            <span th:text="${item.getCount()}"></span>
            <button name="action" value="plus">+</button>
            <button name="action" value="plus" th:if="${item.getCount()==0}" style="float:right;">To cart</button>
        </form>
    </div>
</body>

</html>