<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Showcase of goods</title>
</head>

<body>
    <a href="/orders" style="float:right;">
        <b>ORDERS &cudarrr;</b>
    </a>
    <a href="/cart/items" style="float:right;">
        <b>CART &cudarrr;</b>
    </a>
    <table style="width:70%;margin-left:auto;margin-right:auto;">
        <tr>
            <td>
                <form>
                    <p>
                        <label for="search">Search: </label>
                        <input id="search" style="width:300px;" name="search" th:value="${search}">
                        <button name="action">&#128269;</button>
                    </p>
                    <p>
                        <label for="sort">Sorting: </label>
                        <select id="sort" name="sort" onchange="this.form.submit()">
                            <option value="NO" th:selected="${sort=='NO'}">no</option>
                            <option value="ALPHA" th:selected="${sort=='ALPHA'}">By alphabet</option>
                            <option value="PRICE" th:selected="${sort=='PRICE'}">By price</option>
                        </select>
                    </p>
                    <p>
                        <label for="pageSize">Goods count: </label>
                        <select id="pageSize" name="pageSize" onchange="this.form.submit()">
                            <option value="5" th:selected="${pageSize==5}">5</option>
                            <option value="10" th:selected="${pageSize==10}">10</option>
                            <option value="20" th:selected="${pageSize==20}">20</option>
                            <option value="50" th:selected="${pageSize==50}">50</option>
                            <option value="100" th:selected="${pageSize==100}">100</option>
                        </select>
                    </p>
<!--                    <p>-->
<!--                        <button th:if="${items.hasPrevious()}" name="pageNumber" th:value="${items.getPageable().getPageNumber()-1}">&lt;</button>-->
<!--                        <span th:text="${'Страница: '+items.getPageable().getPageNumber()}"></span>-->
<!--                        <button th:if="${items.hasNext()}" name="pageNumber" th:value="${items.getPageable().getPageNumber()+1}">&gt;</button>-->
<!--                    </p>-->
                </form>
            </td>
        </tr>
        <tr th:each="itemsRow : ${items}">
            <td th:each="item : ${itemsRow}">
                <table>
                    <tr>
                        <td>
                            <a th:href="${'/items/'+item.getId()}">
                                <img width="300" height="300" th:src="${'http://localhost:8080'+item.getImgPath()}" alt="No image">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b th:text="${item.getTitle()}"></b>
                        </td>
                        <td>
                            <b th:text="${item.getPrice()}+' rub.'"></b>
                        </td>
                    </tr>
                    <tr>
                        <td th:text="${item.getDescription()}"></td>
                    </tr>
                    <tr>
                        <td>
                            <form th:action="${'/main/items/'+item.getId()}" method="post">
                                <button name="action" value="minus">-</button>
                                <span th:text="${item.getCount()}"></span>
                                <button name="action" value="plus">+</button>
                                <button name="action" value="plus" th:if="${item.getCount()==0}" style="float:right;">To cart</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>