<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Order</title>
</head>

<body>
<a href="/orders" style="float:right;">
    <b>ORDERS &cudarrr;</b>
</a>
<a href="/cart/items" style="float:right;">
    <b>CART &cudarrr;</b>
</a>
<a href="/main/items" style="float:right;">
    <b>MAIN &cudarrr;</b>
</a>
<h1 style="text-align:center" th:if="${newOrder}">Congratulations! Successful purchase! &#128578;</h1>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr>
        <td>
            <h2 th:text="${'Order №'+order.getId()}"></h2>
        </td>
    </tr>
    <tr th:each="item : ${order.getItems()}">
        <td>
            <table>
                <tr>
                    <td>
                        <a th:href="${'/items/'+item.getId()}">
                            <img width="300" height="300" th:src="${'http://localhost:8080/'+item.getImgPath()}" alt="No image">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${item.getTitle()}"></b>
                    </td>
                    <td>
                        <b th:text="${item.getCount()}+' itms.'"></b>
                    </td>
                    <td>
                        <b th:text="${item.getPrice()*item.getCount()}+' rub.'"></b>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <h3 th:text="${'Total: '+order.getTotalSum()}+' rub.'"></h3>
        </td>
    </tr>
</table>
</body>

</html>