<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Showcase of goods</title>
</head>

<body>
    <a href="/orders" style="float:right;">
        <b>ORDERS &cudarrr;</b>
    </a>
    <a href="/cart/items" style="float:right;">
        <b>CART &cudarrr;</b>
    </a>
    <a href="/" style="float:right;">
        <b>MAIN &cudarrr;</b>
    </a>
    <div style="width:70%;margin-left:auto;margin-right:auto;">
        <p>
            <img width="300" height="300" th:src="${'http://localhost:8080/'+item.getImgPath()}" alt="No image">
        </p>
        <p>
            <b th:text="${item.getTitle()}"></b>
            <b th:text="${item.getPrice()}+' rub.'" style="text-align:right;"></b>
        </p>
        <p>
            <span th:text="${item.getDescription()}"></span>
        </p>
        <form th:action="${'/items/'+item.getId()}" method="post">
            <button name="action" value="minus">-</button>
            <span th:text="${item.getCount()}"></span>
            <button name="action" value="plus">+</button>
            <button name="action" value="plus" th:if="${item.getCount()==0}" style="float:right;">To cart</button>
        </form>
    </div>
</body>

</html>