<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Orders</title>
</head>

<body>
<a href="/cart/items" style="float:right;">
    <b>CART &cudarrr;</b>
</a>
<a href="/main/items" style="float:right;">
    <b>MAIN &cudarrr;</b>
</a>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="order : ${orders}">
        <td>
            <h2>
                <a th:text="${'Order №'+order.getId()}" th:href="${'/orders/'+order.getId()}"></a>
            </h2>
            <table>
                <tr th:each="item : ${order.getItems()}">
                    <td th:text="${item.getTitle()+' ('+item.getCount()+' itms.) '+(item.getPrice()*item.getCount())+' rub.'}"></td>
                </tr>
            </table>
            <p>
                <b th:text="${'Total: '+order.getTotalSum()}+' rub.'"></b>
            </p>
        </td>
    </tr>
</table>
</body>

</html>